@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Inter&display=swap');

#root {
    width: 50%;
    margin: 0px auto;
    font-family: 'Inter', sans-serif;
}

/* header */

.header--div {
    height: 55px;
    background-color: #F55A5A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#header--logo {
    height: 24px;
    width: 24px;
    padding: 10px;
}

/* main section */

.travel--div {
    margin: 36px 40px;
    height: 168px;
    display: flex;
}

.travel--img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    display: inline;
}

.travel--content {
    padding-left: 19px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#location--image {

    width: 7px;
    height: 9px;
}

.travel--destination {
    font-size: 12px;
    color: #2B283A;
    padding: 10px;
}

.travel--maps {
    font-size: 12px;
    color: #918E9B;
    text-decoration: underline;

}

.travel--title {
    color: #2B283A;
    font-size: 25px;

}

.travel--dates {
    color: #2B283A;
    font-weight: bolder;
    font-size: 12px;
}

.travel--description {
    font-size: 10px;
}